body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4c4c4c;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
/* Navbar */
nav.navbar {
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
.nav-title {
  font-size: 30px;
}
.product-actions ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.product-actions ul li button {
  margin: 10px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  box-shadow: 10px 10px 10px #ddd;
}
/* products list*/
.products-list > form {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.product {
  padding: 10px;
  border: 2px solid #6f6f6f;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product:hover {
  background-color: #afaeae3c;
}
.delete-checkbox {
  align-self: flex-start;
  justify-self: flex-start;
  width: 15px;
  height: 15px;
}
/* product Add */
#product_form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#product_form input,
#product_form select {
  width: 50%;
  margin: 10px;
  padding: 7px;
}
.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: 18px;
}
.weight-input,
.dimension-input {
  display: none;
}
